@model FOReserva.Models.Autos.Cvista_ReservaAutos
    
    <!-- FLIP BOX -->
    <div class="box-light box-icon box-icon-center box-icon-round box-icon-large text-center nomargin">
        <div class="front">
            <div class="box1 noradius">
                <div class="box-icon-title">
                    <i class="fa fa-history"></i>
                    <h2>Felica Doe &ndash; History</h2>
                </div>
                <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere</p>
            </div>
        </div>
    </div>
    <!-- /FLIP BOX -->


    <div class="box-light">
        <!-- .box-light OR .box-dark -->

        <div class="box-inner">

            <div class="timeline">
                <!-- .timeline-inverse = right position [left on RTL] -->
                <!-- ITEM -->
                <div class="timeline-item timeline-item-bordered">
                    <!-- timeline entry -->
                    <div class="timeline-entry rounded">
                        <!-- .rounded = entry -->
                        15<span>Jun</span>
                        <div class="timeline-vline"><!-- vertical line --></div>
                    </div>
                    <!-- /timeline entry -->

                    <h2 class="uppercase">EPONA - RESPONSIVE TEMPLATE RELEASED</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque.</p>

                </div>
                <!-- /ITEM -->
                <!-- ITEM -->
                <div class="timeline-item timeline-item-bordered">
                    <!-- timeline entry -->
                    <div class="timeline-entry rounded">
                        <!-- .rounded = entry -->
                        09<span>Jun</span>
                        <div class="timeline-vline"><!-- vertical line --></div>
                    </div>
                    <!-- /timeline entry -->

                    <h2 class="uppercase">ATROPOS - MULTIPURPOSE TEMPLATE RELEASED</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque.</p>

                </div>
                <!-- /ITEM -->
                <!-- ITEM -->
                <div class="timeline-item timeline-item-bordered">
                    <!-- timeline entry -->
                    <div class="timeline-entry rounded">
                        <!-- .rounded = entry -->
                        21<span>Jun</span>
                        <div class="timeline-vline"><!-- vertical line --></div>
                    </div>
                    <!-- /timeline entry -->

                    <h2 class="uppercase">ISISONE - ONEPAGE TEMPLATE RELEASED</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque.</p>

                </div>
                <!-- /ITEM -->
                <!-- ITEM -->
                <div class="timeline-item timeline-item-bordered">
                    <!-- timeline entry -->
                    <div class="timeline-entry rounded">
                        <!-- .rounded = entry -->
                        18<span>Jun</span>
                        <div class="timeline-vline"><!-- vertical line --></div>
                    </div>
                    <!-- /timeline entry -->

                    <h2 class="uppercase">DEUSONE - ONEPAGE TEMPLATE RELEASED</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque.</p>

                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <img class="img-responsive" src="assets/images/demo/wb/WB0271X52-min.png" alt="image" />
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <img class="img-responsive" src="assets/images/demo/wb/WB0PNJ9B6-min.png" alt="image" />
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <img class="img-responsive" src="assets/images/demo/wb/WB05SR527-min.png" alt="image" />
                        </div>
                    </div>
                </div>
                <!-- /ITEM -->


            </div>

        </div>

    </div>
