@model FOReserva.Models.Autos.Cvista_ReservaAutos

<!-- FLIP BOX -->
<div class="box-light box-icon box-icon-center box-icon-round box-icon-large text-center nomargin">
    <div class="front">
        <div class="box1 noradius">
            <div class="box-icon-title">
                <i class="fa fa-history"></i>
                <h2>Felica Doe &ndash; History</h2>
            </div>
            <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere</p>
        </div>
    </div>
</div>
<!-- /FLIP BOX -->


<div class="box-light">
    <!-- .box-light OR .box-dark -->

    <div class="box-inner">

        PRUEBA
    </div>

</div>
